/* ******************************************************* */
/* *********************   FOOTER   ********************** */
/* ******************************************************* */

#footer {
  background: var(--primary-color);
}

.footer-row {  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 15px;
  line-height: 2em;
  margin: 0;
  width: 100%;
  background: var(--primary-color);
}
.footer-row a {
  color: var(--bg-color);
}
.footer-row ul {
  list-style: none;	
}
.footer-row a:hover {
  color: var(--secondary-color);
}
.footer-bar {
  background: var(--secondary-color);
  color: white;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  margin: 0;
}
.footer-box {
  flex: 33%;
  padding: 20px 30px;
  justify-content: center;
  align-content: center;
  text-align: left;
  color: var(--bg-color);
}
.box h4 span {
  color: var(--bg-color-alt);
}

@media all and (max-width: 800px) {
  .footer-row {  
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      font-size: 15px;
      line-height: 1.5em;
      margin: 0;
      width: 100%;
      padding-left: 15px;
  }
  .footer-box {
      flex: 33%;
      padding: 20px 10px;
      justify-content: center;
      align-content: center;
      text-align: left;
      color: var(--bg-color);
  }
}

@media all and (max-width: 600px) {
  .footer-row {  
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      font-size: 15px;
      line-height: 1.8em;
      padding: 15px 10px;
      margin: auto;
      width: 100%;
  }
  .footer-box {
      flex: 100%;
      padding: 10px 30px;
      justify-content: center;
      align-content: center;
      text-align: center;
      color: var(--bg-color);
  }
}
