@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


:root {
    --primary-color: #03045e;
    --secondary-color: #5568bd;
    --text-color: #03045e;
    --bg-color: #fff;
    --bg-color-alt: #eff2fd;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #root, .App {
    height: 100%;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}
button {
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    background: var(--primary-color);
    transition: all 0.6s ease-in;
    cursor: pointer;
}

button:focus,
button:hover {
    outline: none;
    border: none;
    background: var(--secondary-color);
    color: white;
}