@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


:root {
    --primary-color: #03045e;
    --secondary-color: #5568bd;
    --text-color: #03045e;
    --bg-color: #fff;
    --bg-color-alt: #eff2fd;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #root, .App {
    height: 100%;
}

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}
button {
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    background: var(--primary-color);
    transition: all 0.6s ease-in;
    cursor: pointer;
    outline-style: none;
}

button:focus,
button:hover {
    outline: none;
    border: none;
    background: var(--secondary-color);
    color: white;
}